@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Apple Chancery Fonts */
@font-face {
	font-family: 'Conv_Apple Chancery';
	src: url('fonts/Apple Chancery.eot');
	src: local('☺'), url('fonts/Apple Chancery.woff') format('woff'), url('fonts/Apple Chancery.ttf') format('truetype'), url('fonts/Apple Chancery.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-apple, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-github, .icon-github-2, .icon-github-3, .icon-html5, .icon-heart, .icon-feed, .icon-tags, .icon-tag, .icon-feed-2, .icon-feed-3, .icon-google-plus, .icon-google-plus-2, .icon-mail, .icon-console, .icon-embed, .icon-code, .icon-google-plus-3, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-instagram, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-youtube, .icon-youtube-2, .icon-vimeo, .icon-vimeo2, .icon-vimeo-2, .icon-lanyrd, .icon-dribbble, .icon-dribbble-2, .icon-dribbble-3, .icon-forrst, .icon-forrst-2, .icon-deviantart, .icon-deviantart-2, .icon-flickr, .icon-flickr-2, .icon-github-4, .icon-github-5, .icon-tux, .icon-finder, .icon-windows8, .icon-android, .icon-lastfm, .icon-lastfm-2, .icon-pinterest, .icon-pinterest-2, .icon-file-xml, .icon-file-css, .icon-html5-2, .icon-quill, .icon-home, .icon-home-2, .icon-home-3, .icon-image, .icon-image-2, .icon-camera, .icon-music, .icon-droplet, .icon-film, .icon-headphones, .icon-library, .icon-barcode, .icon-qrcode, .icon-ticket, .icon-coin, .icon-credit, .icon-cart, .icon-location, .icon-location-2, .icon-pushpin, .icon-address-book, .icon-notebook, .icon-phone, .icon-bell, .icon-calendar, .icon-calendar-2, .icon-box-add, .icon-mobile, .icon-tablet, .icon-disk, .icon-bubbles, .icon-bubbles-2, .icon-bubble, .icon-bubbles-3, .icon-bubbles-4, .icon-bug, .icon-stats, .icon-bars, .icon-cloud, .icon-cloud-download, .icon-cloud-upload, .icon-link, .icon-earth, .icon-bookmarks, .icon-bookmark, .icon-google-drive, .icon-google-plus-4, .icon-google, .icon-mail-2, .icon-mail-3, .icon-share, .icon-picassa, .icon-flickr-3, .icon-flickr-4, .icon-steam, .icon-tumblr, .icon-tumblr-2, .icon-xing, .icon-stackoverflow, .icon-stumbleupon, .icon-stumbleupon-2, .icon-delicious, .icon-linkedin, .icon-reddit, .icon-skype, .icon-soundcloud, .icon-soundcloud-2, .icon-windows, .icon-xing-2, .icon-flattr, .icon-foursquare, .icon-foursquare-2, .icon-paypal, .icon-paypal-2, .icon-paypal-3, .icon-yelp, .icon-IcoMoon, .icon-css3, .icon-sunrise, .icon-sun, .icon-moon, .icon-sun-2, .icon-lightning, .icon-rainy, .icon-rainy-2, .icon-windy, .icon-windy-2, .icon-snowy, .icon-cloud-2, .icon-lightning-2, .icon-sun-3, .icon-moon-2, .icon-cloudy, .icon-cloud-3, .icon-cloud-4, .icon-rainy-3, .icon-windy-3, .icon-windy-4, .icon-snowy-2, .icon-thermometer, .icon-compass, .icon-none, .icon-Celsius, .icon-Fahrenheit, .icon-lightning-3, .icon-rainy-4, .icon-windy-5, .icon-wind, .icon-snowflake, .icon-cloudy-2, .icon-cloud-5, .icon-weather, .icon-weather-2, .icon-weather-3, .icon-lines, .icon-cloud-6, .icon-lightning-4, .icon-snowy-3, .icon-snowy-4, .icon-weather-4, .icon-cloudy-3, .icon-snowy-5, .icon-weather-5, .icon-cloudy-4, .icon-lightning-5, .icon-warning, .icon-notification, .icon-info, .icon-question, .icon-food, .icon-gift, .icon-signup, .icon-profile, .icon-file, .icon-folder, .icon-folder-open, .icon-drawer, .icon-drawer-2, .icon-drawer-3, .icon-box-remove, .icon-joomla, .icon-picassa-2, .icon-libreoffice, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-new-tab, .icon-steam-2, .icon-yahoo {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-apple:before {
	content: "\e009";
}
.icon-chrome:before {
	content: "\e00b";
}
.icon-firefox:before {
	content: "\e00c";
}
.icon-IE:before {
	content: "\e00d";
}
.icon-opera:before {
	content: "\e00e";
}
.icon-safari:before {
	content: "\e00f";
}
.icon-github:before {
	content: "\e000";
}
.icon-github-2:before {
	content: "\e001";
}
.icon-github-3:before {
	content: "\e002";
}
.icon-html5:before {
	content: "\e00a";
}
.icon-heart:before {
	content: "\e004";
}
.icon-feed:before {
	content: "\e003";
}
.icon-tags:before {
	content: "\e006";
}
.icon-tag:before {
	content: "\e005";
}
.icon-feed-2:before {
	content: "\e007";
}
.icon-feed-3:before {
	content: "\e008";
}
.icon-google-plus:before {
	content: "\e010";
}
.icon-google-plus-2:before {
	content: "\e011";
}
.icon-mail:before {
	content: "\e012";
}
.icon-console:before {
	content: "\e013";
}
.icon-embed:before {
	content: "\e014";
}
.icon-code:before {
	content: "\e015";
}
.icon-google-plus-3:before {
	content: "\e016";
}
.icon-facebook:before {
	content: "\e017";
}
.icon-facebook-2:before {
	content: "\e018";
}
.icon-facebook-3:before {
	content: "\e019";
}
.icon-instagram:before {
	content: "\e01a";
}
.icon-twitter:before {
	content: "\e01b";
}
.icon-twitter-2:before {
	content: "\e01c";
}
.icon-twitter-3:before {
	content: "\e01d";
}
.icon-youtube:before {
	content: "\e01e";
}
.icon-youtube-2:before {
	content: "\e01f";
}
.icon-vimeo:before {
	content: "\e020";
}
.icon-vimeo2:before {
	content: "\e021";
}
.icon-vimeo-2:before {
	content: "\e022";
}
.icon-lanyrd:before {
	content: "\e023";
}
.icon-dribbble:before {
	content: "\e024";
}
.icon-dribbble-2:before {
	content: "\e025";
}
.icon-dribbble-3:before {
	content: "\e026";
}
.icon-forrst:before {
	content: "\e027";
}
.icon-forrst-2:before {
	content: "\e028";
}
.icon-deviantart:before {
	content: "\e029";
}
.icon-deviantart-2:before {
	content: "\e02a";
}
.icon-flickr:before {
	content: "\e02b";
}
.icon-flickr-2:before {
	content: "\e02c";
}
.icon-github-4:before {
	content: "\e02d";
}
.icon-github-5:before {
	content: "\e02e";
}
.icon-tux:before {
	content: "\e02f";
}
.icon-finder:before {
	content: "\e030";
}
.icon-windows8:before {
	content: "\e031";
}
.icon-android:before {
	content: "\e032";
}
.icon-lastfm:before {
	content: "\e033";
}
.icon-lastfm-2:before {
	content: "\e034";
}
.icon-pinterest:before {
	content: "\e035";
}
.icon-pinterest-2:before {
	content: "\e036";
}
.icon-file-xml:before {
	content: "\e037";
}
.icon-file-css:before {
	content: "\e038";
}
.icon-html5-2:before {
	content: "\e039";
}
.icon-quill:before {
	content: "\e03a";
}
.icon-home:before {
	content: "\e03b";
}
.icon-home-2:before {
	content: "\e03c";
}
.icon-home-3:before {
	content: "\e03d";
}
.icon-image:before {
	content: "\e03e";
}
.icon-image-2:before {
	content: "\e03f";
}
.icon-camera:before {
	content: "\e040";
}
.icon-music:before {
	content: "\e041";
}
.icon-droplet:before {
	content: "\e042";
}
.icon-film:before {
	content: "\e043";
}
.icon-headphones:before {
	content: "\e044";
}
.icon-library:before {
	content: "\e045";
}
.icon-barcode:before {
	content: "\e046";
}
.icon-qrcode:before {
	content: "\e047";
}
.icon-ticket:before {
	content: "\e048";
}
.icon-coin:before {
	content: "\e049";
}
.icon-credit:before {
	content: "\e04a";
}
.icon-cart:before {
	content: "\e04b";
}
.icon-location:before {
	content: "\e04c";
}
.icon-location-2:before {
	content: "\e04d";
}
.icon-pushpin:before {
	content: "\e04e";
}
.icon-address-book:before {
	content: "\e04f";
}
.icon-notebook:before {
	content: "\e050";
}
.icon-phone:before {
	content: "\e051";
}
.icon-bell:before {
	content: "\e052";
}
.icon-calendar:before {
	content: "\e053";
}
.icon-calendar-2:before {
	content: "\e054";
}
.icon-box-add:before {
	content: "\e055";
}
.icon-mobile:before {
	content: "\e056";
}
.icon-tablet:before {
	content: "\e057";
}
.icon-disk:before {
	content: "\e058";
}
.icon-bubbles:before {
	content: "\e059";
}
.icon-bubbles-2:before {
	content: "\e05a";
}
.icon-bubble:before {
	content: "\e05b";
}
.icon-bubbles-3:before {
	content: "\e05c";
}
.icon-bubbles-4:before {
	content: "\e05d";
}
.icon-bug:before {
	content: "\e05e";
}
.icon-stats:before {
	content: "\e05f";
}
.icon-bars:before {
	content: "\e060";
}
.icon-cloud:before {
	content: "\e061";
}
.icon-cloud-download:before {
	content: "\e062";
}
.icon-cloud-upload:before {
	content: "\e063";
}
.icon-link:before {
	content: "\e064";
}
.icon-earth:before {
	content: "\e065";
}
.icon-bookmarks:before {
	content: "\e066";
}
.icon-bookmark:before {
	content: "\e067";
}
.icon-google-drive:before {
	content: "\e068";
}
.icon-google-plus-4:before {
	content: "\e069";
}
.icon-google:before {
	content: "\e06a";
}
.icon-mail-2:before {
	content: "\e06b";
}
.icon-mail-3:before {
	content: "\e06c";
}
.icon-share:before {
	content: "\e06d";
}
.icon-picassa:before {
	content: "\e06e";
}
.icon-flickr-3:before {
	content: "\e06f";
}
.icon-flickr-4:before {
	content: "\e070";
}
.icon-steam:before {
	content: "\e071";
}
.icon-tumblr:before {
	content: "\e072";
}
.icon-tumblr-2:before {
	content: "\e073";
}
.icon-xing:before {
	content: "\e074";
}
.icon-stackoverflow:before {
	content: "\e075";
}
.icon-stumbleupon:before {
	content: "\e076";
}
.icon-stumbleupon-2:before {
	content: "\e077";
}
.icon-delicious:before {
	content: "\e078";
}
.icon-linkedin:before {
	content: "\e079";
}
.icon-reddit:before {
	content: "\e07a";
}
.icon-skype:before {
	content: "\e07b";
}
.icon-soundcloud:before {
	content: "\e07c";
}
.icon-soundcloud-2:before {
	content: "\e07d";
}
.icon-windows:before {
	content: "\e07e";
}
.icon-xing-2:before {
	content: "\e07f";
}
.icon-flattr:before {
	content: "\e080";
}
.icon-foursquare:before {
	content: "\e081";
}
.icon-foursquare-2:before {
	content: "\e082";
}
.icon-paypal:before {
	content: "\e083";
}
.icon-paypal-2:before {
	content: "\e084";
}
.icon-paypal-3:before {
	content: "\e085";
}
.icon-yelp:before {
	content: "\e086";
}
.icon-IcoMoon:before {
	content: "\e087";
}
.icon-css3:before {
	content: "\e088";
}
.icon-sunrise:before {
	content: "\e09a";
}
.icon-sun:before {
	content: "\e09b";
}
.icon-moon:before {
	content: "\e09c";
}
.icon-sun-2:before {
	content: "\e09d";
}
.icon-lightning:before {
	content: "\e089";
}
.icon-rainy:before {
	content: "\e08a";
}
.icon-rainy-2:before {
	content: "\e08b";
}
.icon-windy:before {
	content: "\e08c";
}
.icon-windy-2:before {
	content: "\e08d";
}
.icon-snowy:before {
	content: "\e08e";
}
.icon-cloud-2:before {
	content: "\e08f";
}
.icon-lightning-2:before {
	content: "\e090";
}
.icon-sun-3:before {
	content: "\e091";
}
.icon-moon-2:before {
	content: "\e092";
}
.icon-cloudy:before {
	content: "\e093";
}
.icon-cloud-3:before {
	content: "\e094";
}
.icon-cloud-4:before {
	content: "\e09e";
}
.icon-rainy-3:before {
	content: "\e095";
}
.icon-windy-3:before {
	content: "\e096";
}
.icon-windy-4:before {
	content: "\e097";
}
.icon-snowy-2:before {
	content: "\e098";
}
.icon-thermometer:before {
	content: "\e0a3";
}
.icon-compass:before {
	content: "\e0a4";
}
.icon-none:before {
	content: "\e0a5";
}
.icon-Celsius:before {
	content: "\e0a6";
}
.icon-Fahrenheit:before {
	content: "\e0a7";
}
.icon-lightning-3:before {
	content: "\e099";
}
.icon-rainy-4:before {
	content: "\e09f";
}
.icon-windy-5:before {
	content: "\e0a0";
}
.icon-wind:before {
	content: "\e0a1";
}
.icon-snowflake:before {
	content: "\e0a2";
}
.icon-cloudy-2:before {
	content: "\e0a8";
}
.icon-cloud-5:before {
	content: "\e0a9";
}
.icon-weather:before {
	content: "\e0aa";
}
.icon-weather-2:before {
	content: "\e0ab";
}
.icon-weather-3:before {
	content: "\e0ac";
}
.icon-lines:before {
	content: "\e0ad";
}
.icon-cloud-6:before {
	content: "\e0ae";
}
.icon-lightning-4:before {
	content: "\e0af";
}
.icon-snowy-3:before {
	content: "\e0b0";
}
.icon-snowy-4:before {
	content: "\e0b1";
}
.icon-weather-4:before {
	content: "\e0b2";
}
.icon-cloudy-3:before {
	content: "\e0b3";
}
.icon-snowy-5:before {
	content: "\e0b4";
}
.icon-weather-5:before {
	content: "\e0b5";
}
.icon-cloudy-4:before {
	content: "\e0b6";
}
.icon-lightning-5:before {
	content: "\e0b7";
}
.icon-warning:before {
	content: "\e0b8";
}
.icon-notification:before {
	content: "\e0b9";
}
.icon-info:before {
	content: "\e0ba";
}
.icon-question:before {
	content: "\e0bb";
}
.icon-food:before {
	content: "\e0bc";
}
.icon-gift:before {
	content: "\e0bd";
}
.icon-signup:before {
	content: "\e0be";
}
.icon-profile:before {
	content: "\e0bf";
}
.icon-file:before {
	content: "\e0c0";
}
.icon-folder:before {
	content: "\e0c1";
}
.icon-folder-open:before {
	content: "\e0c2";
}
.icon-drawer:before {
	content: "\e0c3";
}
.icon-drawer-2:before {
	content: "\e0c4";
}
.icon-drawer-3:before {
	content: "\e0c5";
}
.icon-box-remove:before {
	content: "\e0c6";
}
.icon-joomla:before {
	content: "\e0c7";
}
.icon-picassa-2:before {
	content: "\e0c8";
}
.icon-libreoffice:before {
	content: "\e0c9";
}
.icon-file-pdf:before {
	content: "\e0ca";
}
.icon-file-openoffice:before {
	content: "\e0cb";
}
.icon-file-word:before {
	content: "\e0cc";
}
.icon-file-excel:before {
	content: "\e0cd";
}
.icon-file-zip:before {
	content: "\e0ce";
}
.icon-file-powerpoint:before {
	content: "\e0cf";
}
.icon-new-tab:before {
	content: "\e0d0";
}
.icon-steam-2:before {
	content: "\e0d1";
}
.icon-yahoo:before {
	content: "\e0d2";
}
