<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
      {% if page.title %}
        {% assign title = page.title|append: " - "|append:site.title %}
        {% assign description = page.description %}
      {% else %}
        {% assign title = site.title %}
        {% assign description = site.description %}
      {% endif %}
      <title>{{ title }}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.description }}">
      <link rel="stylesheet" href="{{ site.base_path }}/
      themes/-global/css/normalize.min.css">
      <link rel="stylesheet" href="{{ site.base_path }}/themes/-global/css/syntax.css">
      <link rel="stylesheet" href="{{ site.base_path }}/themes/-global/css/boilerplate.css">
      <link rel="stylesheet" href="{{ site.base_path }}/themes/-global/css/normalize.min.css">
      <link rel="stylesheet" href="{{ site.base_path }}/themes/-global/css/basics.css">
      <script src="{{ site.base_path }}/themes/-global/js/modernizr-2.6.2.min.js"></script>
      <script src="{{ site.base_path }}/themes/-global/js/jquery-1.9.1.min.js"></script>
      <link rel="shortcut icon" href="{{ site.base_path }}/favicon.ico">
      <link rel="stylesheet" href="{{ site.base_path }}/themes/{{ site.theme }}/style.css">
      <link rel="stylesheet" href="{{ site.base_path }}/themes/{{ site.theme }}/font_style.css">
      <script src="{{ site.base_path }}/themes/{{ site.theme }}/custom.js"></script>
      <script src="{{ site.base_path }}/js/lib/modernizr-2.6.2.min.js"></script>
      <script src="{{ site.base_path }}/js/lib/jquery-1.9.1.min.js"></script>
      <script src="{{ site.base_path }}/themes/{{ site.theme }}/custom.js"></script>
      <!--[if lte IE 7]><script src="{{ site.base_path }}/js/lib/lte-ie7.js"></script><![endif]-->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <h1><a href="{{ site.base_path }}/">{{ site.title }}</a></h1>
      <p class="description">{{ site.description }}</p>
      <nav>{% include nav.html %}</nav>
    </header>
    <section class="content">{{ content }}</section>
    <footer>
      <!-- &copy; 2013 -->
      <div id="footer_logo">
        <span class="icon-apple" title="Page Design by Apple Computer"></span>
        <p>Theme made by muan with Minor Modifications</p>
        <p class="browser_logo">
        <span class="icon-chrome" title="Chrome Page compatible"></span>
        <span class="icon-firefox" title="Firefox Page compatible"></span>
        <span class="icon-safari" title="Safari Page compatible"></span>
        <span class="icon-opera" title="Opera Page compatible"></span>
        <span class="icon-IE" title="IE Page May not be fully compatible with"></span>
      </p>
      </div>
    </footer>
    {% include google_analytics %}
  </body>
</html>